<div class="mb-4">
    <h3 class="text-success mb-2">
        Đăng ký để nhận thông báo
    </h3>
    <form method="post">
<<<<<<< HEAD
        <input type = "text"
               class="form-control mb-2"
               placeholder="Nhập vào email của bạn"/>
        <div class="d-flex justify-content-center">
            <button class=""btn btn-primary"
                type="submit">
=======
        <div class="input-group mb-3">
            <input type="email"
                   class="form-control mb-2"
                   placeholder="Nhập vào email của bạn"/>
            <button class="btn btn-outline-secondary"
                    type="submit">
>>>>>>> e5c9cbcf370b9a70e344c3af8641a5692461d18f
                Đăng ký
            </button>
        </div>
    </form>
</div>
