<div class="mb-4">
    <h3 class="text-success mb-2">
        Đăng ký để nhận thông báo
    </h3>
    <form method="post">
        <div class="input-group mb-3">
            <input type="email"
                   class="form-control mb-2"
                   placeholder="Nhập vào email của bạn"/>
            <button class="btn btn-outline-secondary"
                    type="submit">
                Đăng ký
            </button>
        </div>
    </form>
</div>
